__pycache__/
*.pyc
*.pyo
*.pyd

.env
.venv/
venv/

storage/uploads/*
storage/outputs/*
storage/temp/*

!storage/uploads/.gitkeep
!storage/outputs/.gitkeep
!storage/temp/.gitkeep

.DS_Store
.idea/
.vscode/
